body {
  font-size: 12px;
  color: rgb(122, 122, 122);
}

.blue-bg {
  background-image: linear-gradient(#95cee9, #5da1ce);
  color: white;
}

.blue-bg2 {
  background-color: #5da1ce;
  color: white;
}

.navy-bg {
  background-color: #364049;
  color: white;
}

.title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.vert {
  padding-top:10px;
}

.title-img {
  text-align: center;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 50px;
  vertical-align:bottom;
}

.video-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://slack-imgs.com/?c=1&url=https%3A%2F%2Fchrisbrownie55.github.io%2F109leadr%2Ftexting.jpg');
  background-size: cover;
  opacity: .5;
  font-size: 80px;
  transition: all .5s ease;
}

.video-img:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  color: white;
  transition: all 1s ease;
}

a:hover {
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
}

.btn-info {
  border-radius: 20px;
  background-color: #5f99be;
}

.row2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.row2-cards {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.read-news {
  box-shadow: 0 0 30px rgb(231, 231, 231);
}

.apple-android {
  display: flex;
  justify-content: center;
  align-items: center;
}